---
import { projectsData } from "../../public/scripts/projects.data.js";
import "../styles/Projects.css";
---

<section id="projects" class="projects-section">
  <div class="projects-container">

    <!-- HEADER -->
    <header class="projects-header">
      <h2>Proyectos</h2>
      <p>
        Algunos proyectos donde apliqué backend, automatización
        y soluciones orientadas a negocio.
      </p>
    </header>

    <!-- GRID -->
    <div class="projects-grid">
      {projectsData.map(project => (
        <article class="project-card group">
          <div class="project-bg-overlay">
          <img
            src={project.cover}
            alt={project.title}
            class="project-image"
          />

          <span class="project-category">
            {project.category}
          </span>

          <div class="project-overlay">
            <h3>{project.title}</h3>

            <a
              href={`/projects/${project.slug}`}
              class="project-btn"
            >
              Ver detalles
              <span>→</span>
            </a>
          </div>
          </div>
          <div class="projects-resume">
            <div class="projects-card-title">
              <h3>{project.title}</h3>
              <span class="projects-card-category">
                {project.description}
              </span>
            </div>
            <div class="projects-card-tecnology">
              {project.technologies.map(tech => (
                <span class="projects-card-tecnology-name">{tech}</span>
              ))}
              </div>
          </div>
        </article>
      ))}
    </div>

  </div>
</section>
